/* Header styles */
header {
	background-color: #eee;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	font-size: 16px;
	font-weight: bold;
}

.header-right {
	text-align: right;
}

.join-button {
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.join-button:hover {
	background-color: #444;
}

/* Media queries */
@media only screen and (max-width: 600px) {
	header {
		position: static;
		background-color: #fff;
		padding: 10px;
	}

	.header-left {
		font-size: 13px;
		font-weight: bold;
		text-align: center;
	}

	.header-right {
		display: none;
	}
}
