body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Header styles */
header {
	background-color: #e4ded4;
	padding: 15px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	font-size: 16px;
	font-weight: bold;
}

.header-right {
	text-align: right;
}

.join-button {
	display: inline-block;
	background-color: rgb(207, 69, 32);
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.join-button:hover {
	background-color: #444;
}

/* Media queries */
@media only screen and (max-width: 600px) {
	header {
		position: static;
		padding: 10px;
	}

	.header-left {
		font-size: 13px;
		font-weight: bold;
		text-align: center;
	}

	.header-right {
		display: none;
	}
}

/* cover */
.cover {
	display: flex;
	flex-direction: row;
	background: url('../img/yoga-header.avif') no-repeat left top;
	height: 500px;
	background-size: auto 100%;
	color: white;
	overflow: hidden;
}

.left-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	width: 50%;
}

.header {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #000;
}

.description {
	font-size: 20px;
	margin-bottom: 20px;
	color: #b95c23;
}

.countdown {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.countdown span {
	font-size: 40px;
	font-weight: bold;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	border-radius: 5px;
	color: #000;
}

.button {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	background-color: rgb(207, 69, 32);
	border-radius: 5px;
	color: white;
	text-decoration: none;
	margin-top: 20px;
	text-align: center;
	width: 300px;
}

@media only screen and (max-width: 600px) {
	.cover {
		background: url('../img/yoga-header-mobile.avif') no-repeat center top;
		background-size: cover;
		height: auto;
		background-size: 100% auto;
		width: 100%;
	}

	.left-column {
		margin: 100% 0 0;
		width: 100%;
		padding: 20px;
		background-color: #faf6f4;
	}
}

/* google form */

.sh-divider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.sh-divider img {
	max-width: 100%;
	max-height: 100%;
}
.iframe-container {
	text-align: center;
	width: 100%;
	background-color: #fcf9f3;
}

/* testimonials */
.testimonials {
	background-color: #f7f7f7;
	padding: 50px 0;
	text-align: center;
}

.testimonials-header {
	color: #02026b;
	text-align: center;
	margin-bottom: 30px;
}

.testimonials-boxes {
	margin-top: 20px;
}

.testimonial-box {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 20px;
	text-align: center;
	display: inline-block;
	width: 25%;
}

.testimonial-box .testimonial-photo {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	object-fit: cover;
	margin-bottom: 10px;
	margin-top: -45px;
}

.testimonial-box .testimonial-text {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.testimonial-box .testimonial-name {
	font-size: 16px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.testimonial-box {
		width: 80%;
	}
}

/* faq */

.faq {
	text-align: center;
}
.faq-header {
	font-size: 42px;
	padding: 24px;
}

.faq-content {
	text-align: left;
	overflow-x: hidden;
	margin: 0 20px;
}

.faq-question {
	padding: 10px 0;
	margin: 10px 0;
	border-bottom: 1px dotted #ccc;
}

.panel-title {
	font-size: 24px;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 10px 10px 0 48px;
	display: block;
	cursor: pointer;
}

.panel-content {
	font-size: 20px;
	padding: 0px 14px;
	margin: 0 40px;
	height: 0;
	overflow: hidden;
	z-index: 0;
	position: relative;
	opacity: 0;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.panel:checked ~ .panel-content {
	height: auto;
	opacity: 1;
	padding: 14px;
}

.plus {
	color: #cf4520;
	position: absolute;
	margin-left: 20px;
	margin-top: 4px;
	z-index: 5;
	font-size: 35px;
	line-height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.panel:checked ~ .plus {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.panel {
	display: none;
}

/*footer */
footer a {
	color: #cf4824;
}

.flying-yogi {
	min-height: 50px;
	overflow: hidden;
	/* Magic */
	display: flex;
	align-items: center; /* vertical */
	justify-content: center; /* horizontal */
}
.flying-yogi img {
	max-width: 100%;
}
@media only screen and (max-width: 1000px) {
	.flying-yogi img {
		max-width: none;
		height: 50px;
	}
}
